@charset "UTF-8";

body{
    background-color: #000000;
    border: 1px solid #000000;
}



.lb-content{
    margin-top: 20px;
    height: 450px;
}


/*左边部分*/
/*左边盒子*/
.leftBox{
    height: 450px;
    width: 20%;
    float: left;
}

/*左侧上边盒子*/
.leftBox-top{
    overflow: hidden;
    height: 220px;
    width: 100%;
    transition: all 2s;
    position: relative;
    background: url("../img/001.gif") no-repeat center/100% 220px;
}
.leftBox-top::before{
    content: "惊 悚";
    position: absolute;
    width: 100%;
    height: 110px;
    background-color: #cccccc;
    line-height: 110px;
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    opacity: 0.3;
    top: -110px;
    transition: all 1s;
}
.leftBox-top::after{
    content: "故 事";
    position: absolute;
    width: 100%;
    height: 110px;
    background-color: #cccccc;
    line-height: 110px;
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    opacity: 0.3;
    bottom: -110px;
    transition: all 1s;
}
.leftBox-top:hover{
    box-shadow:0 10px 30px #910000;
    padding-top: -10px;
    border-radius: 200px;
}
.leftBox-top:hover:before{
    top: 0px;
}
.leftBox-top:hover:after{
    bottom: 0px;
}










